.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
dropboxChooserSDK/build/
aFileChooser/build/
/dropboxChooserSDK/build/
/aFileChooser/build/
.idea/gradle.xml
.idea/misc.xml
settings.gradle
